#container {
	width: 720px;
	height: 720px;
	padding: 10px;
	background-color: red;
}

#graphs_container {
	width: 480px;
	height: 700px;
	float: left;
	padding: 10px;
	background-color: green;
}

#revenue_graph {
	width: 480px;
	height: 300px;
	margin-bottom: 10px;
	background-color: white;
}

#tax_graph {
	width: 480px;
	height: 300px;
	background-color: blue;
}

#budget_container {
	width: 200px;
	height: 700px;
	float: right;
	padding: 10px;
	background-color: purple;
}
